Assets/TutorialInfo/
Assets/VRSampleScenes/
Assets/VRStandardAssets/
*.meta
*.asset
Library/
Temp/
*.csproj
Assets/Editor/CrossPlatformInput/CrossPlatformInputInitialize.cs
*.fbx
*.mat
*.png
*.suo
*.unity
TestBuilds/
ClientSource/
Assets/Standard Assets/Characters/FirstPersonCharacter/Scripts/MouseLook.cs
*.prefab
Assets/Plugins/Pixelplacement/
Assets/OvrAvatar/
Assets/OVR/Textures/GearVrController/GearVrController_normal_1024.tif
Assets/OSPNative/
Assets/OculusPlatform/
Assets/4 Animations/FeedbackSpin.anim
Assets/4 Animations/Panel1.controller
Assets/Plugins/Android/Assets/PUT_OSIG_HERE
DemoServer/
OpenVALEConfig_working.xml
DemoServer/
UnityServerLog.txt
logtext.txt
Debugging Notes.txt
Assets/LICENSE.txtAssets/SteamVR/
UnityPackageManager/manifest.json
WaveFiles/
*.psd
Assets/Standard Assets/ParticleSystems/
Assets/Standard Assets/Utility/
Assets/SampleScenes/
Assets/Standard Assets/Editor/
*.odt
Assets/OVRHarness/
Assets/OVRInspector/LICENSE.txt
Assets/OVRInspector/
*.dll
Assets/Parse/
Assets/OVR/OVRGamepad.bundle/
*.tif
*.tga
*.ttf
Assets/OVR/Editor/AndroidManifest.OVRSubmission.xml
*.obj
Assets/OVR/Plugins/placeholder.txt
Assets/OVR/Plugins/1.14.1/Android/
Assets/OVR/Plugins/1.14.1/OSXUniversal/
Assets/Plugins/Android/
*.shader
*.cginc
Assets/Fonts/Editor/CrossPlatformInput/CrossPlatformInputInitialize.cs
