Assets/TutorialInfo/
Assets/VRSampleScenes/
Assets/VRStandardAssets/
*.meta
*.asset
Library/
Temp/
*.sln
*.csproj
Assets/Plugins/Android/Assets/OSIG_Readme.txt
Assets/Editor/CrossPlatformInput/CrossPlatformInputInitialize.cs
*.fbx
*.mat
*.png
*.suo
*.unity
TestBuilds/
/ClientSource/nbproject/private/
/ClientSource/build/
ClientSource/
Assets/Standard Assets/Characters/FirstPersonCharacter/Scripts/MouseLook.cs
*.prefab
Assets/Plugins/Pixelplacement/
Assets/OvrAvatar/
Assets/OVR/Textures/GearVrController/GearVrController_normal_1024.tif
Assets/OVR/
Assets/OSPNative/
Assets/OculusPlatform/
Assets/4 Animations/FeedbackSpin.anim
Assets/4 Animations/Panel1.controller
Assets/Plugins/Android/Assets/PUT_OSIG_HERE
DemoServer/
OpenVALEConfig_working.xml
DemoServer/
UnityServerLog.txt
logtext.txt
Debugging Notes.txt
Assets/LICENSE.txt
AudioServer3.zip
Assets/SteamVR/
UnityPackageManager/manifest.json
HRTFs/
WaveFiles/
Documentation/OpenVALEGuide.doc
