Assets/TutorialInfo/
Assets/VRSampleScenes/
Assets/VRStandardAssets/
*.meta
*.asset
Library/
Temp/
*.sln
*.csproj
Assets/Plugins/Android/Assets/OSIG_Readme.txt
Assets/Editor/CrossPlatformInput/CrossPlatformInputInitialize.cs
*.fbx
*.mat
*.png
*.suo
*.txt
*.unity
TestBuilds/
/ClientSource/nbproject/private/
/ClientSource/build/
ClientSource/
Assets/Standard Assets/Characters/FirstPersonCharacter/Scripts/MouseLook.cs
*.prefab
